<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test background</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
<div class="content">

</div>

<div class="background-container">
    <div class="curser"></div>

    <div class="row">
        <div class="hexagon"></div>
    </div>

</div>

<script>
  <!--  скрипт ведения курсора  -->
  const cursor = document.querySelector('.curser');
  document.addEventListener('mousemove', function (ev) {
    let pointX = ev.clientX;
    let pointY = ev.clientY;
    cursor.style.left = pointX + "px";
    cursor.style.top = pointY + "px";
  });
</script>
</body>
</html>